@model IEnumerable<ConferenceManagement.Web.Models.ConferenceViewModel>

@{
    ViewData["Title"] = "All conferences";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdConference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdConference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdConference }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdConference }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdConference })
                </td>
            </tr>
        }
    </tbody>
</table>
